.panel-holder{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
    gap: .75rem;
    text-align: center;
}

.panel-holder > div > img{
    border: black solid 1px;
    width:7.5rem;
}